<!-- Displays Spotify logo prominently -->
<!-- Displays a link to "Sign In With Spotify", which forwards to the Spotify OAuth API -->

<h1>Sign in:</h1>
<%= image_tag("spotify_logo_goes_here.jpg", alt: "Spotify logo") %>
<%= link_to "Sign In With Spotify", SPOTIFY_OAUTH_GOES_HERE %>
