<% if current_user.nil? %>
  <h1>Welcome, guest!</h1>
  <p>You'll need to log into Spotify to use this application. Click "Sign In With Spotify" above!</p>
<% else %>
  <h1>Welcome, <%= current_user.name %>!</h1>
<% end %>
